* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 0 27px;
}

.nav_menu {
  display: flex;
  gap: 55px;
}
.nav_menu a {
  font-size: 17px;
  font-weight: 400;
  line-height: 21.62px;
  text-align: left;
  color: rgb(33, 40, 50);
}

.nav_sign_up {
  display: flex;
  gap: 42px;
  align-items: center;
}
.nav_sign_up h2 {
  font-size: 17px;
  font-weight: 500;
  line-height: 21.62px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 6px;
}
.nav_sign_up h1 {
  font-size: 17px;
  font-weight: 500;
  line-height: 21.62px;
  text-align: left;
  font-size: 17px;
  padding: 9px 22px;
  border-radius: 5px;
}

.mode_btn_image {
  width: 48px;
  height: 48px;
}

.nav_brand {
  display: flex;
  align-items: center;
  gap: 50px;
}

#loading {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: 0.5s;
}

#loading.loading-none {
  opacity: 0;
  z-index: -10000;
}

@keyframes ldio-yzaezf3dcmj {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-yzaezf3dcmj div {
  box-sizing: border-box !important;
}

.ldio-yzaezf3dcmj > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #5b83e1 transparent #5b83e1 transparent;
  animation: ldio-yzaezf3dcmj 1s linear infinite;
}

.ldio-yzaezf3dcmj > div:nth-child(2),
.ldio-yzaezf3dcmj > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-yzaezf3dcmj 1s linear infinite reverse;
}

.ldio-yzaezf3dcmj > div:nth-child(2) {
  border-color: transparent #99f86a transparent #99f86a;
}

.ldio-yzaezf3dcmj > div:nth-child(3) {
  border-color: transparent;
}

.ldio-yzaezf3dcmj > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-yzaezf3dcmj > div:nth-child(3) div:before,
.ldio-yzaezf3dcmj > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #5b83e1;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #5b83e1;
}

.ldio-yzaezf3dcmj > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #5b83e1;
}

.ldio-yzaezf3dcmj > div:nth-child(4) {
  border-color: transparent;
}

.ldio-yzaezf3dcmj > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-yzaezf3dcmj > div:nth-child(4) div:before,
.ldio-yzaezf3dcmj > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: #99f86a;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #99f86a;
}

.ldio-yzaezf3dcmj > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #99f86a;
}

.loadingio-spinner-double-ring-2by998twmg8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-yzaezf3dcmj div {
  box-sizing: content-box;
}

.toggle {
  display: none;
}